* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #cd7161;
  text-align: center;
  padding: 20px;
  border: 20px;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  background-color: rgb(192, 245, 139);
  padding: 15px;
  margin: 15px;
}

footer {
  text-align: center;
  margin-top: 40px;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(196, 249, 249);
}

body {
  background-color: rgb(237, 237, 145);
}